  <div class="row mt-4" style="margin:auto">
    <div class="col-xl-3">
      <%= render partial: "shared/user", locals: { user: @user } %>
      <h3>Friends</h3>
      <% @user.active_friends.each do |user| %>
        <div class="container"><%= render partial: "shared/user", locals: {user: user}%></div>
      <% end %>
    </div>
    <div class="col-xl-6">
      <%= render "shared/feed", feed_posts: @posts %>
    </div>
  </div>
