<%= form_for [post, comment] do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :content, placeholder:"Add a comment", class: "form-control"%>
    <div class="input-group-append">
      <%= form.submit "+", class:"btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>